# Dependencies
node_modules/
*/node_modules/
.pnp
.pnp.js

# Production / Build Output
dist/
*/dist/
build/
*/build/
out/

# Environment variables & local configs
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Cache
.cache/
.vite/
*/.vite/
.eslintcache
.temp/
.tmp/
